@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    text-align: center;
}

span {
    font-weight: bold;
}

div {
    height: 50px;
}

h1, h2 {
    background-color: #c4c4c4;
    color: #005677;
}

footer {
    background-color: #005677;
    color: white;
    text-align: center;
}